<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/slate.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/stone.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/gray.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/neutral.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/red.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/rose.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/orange.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/green.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/blue.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/yellow.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/violet.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/franken-wc@0.0.5/dist/css/zinc.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>

    <title>Index</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="content">
    {% block content %}<p>Placeholder content</p>{% endblock %}
</div>
</body>
</html>